<div class="login-page">
  <form action="/users" method="post">
    <div class="form-group">
      <label for="mobile">Mobile No</label>
      <input type="text" class="form-control" name="mobile_number" id="mobile">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>    
</div>

