@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color:  #36444b
}

.login-page, .otp-page {
	display: flex;
  justify-content: center;
  min-height: 500px;    
  align-items: center; 

  label {
  	color: wheat;		
  }
}

.alert {
	margin-bottom: 0px;
}

.login-success-page, .login-failed-page {
	color: beige;
}

.header {
	height: 60px;
	font-size: 30px;
	font-weight: 500;	
	margin-top: 25px;  
	color: beige;
}

